In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [4]:
dorm = pd.read_csv('https://raw.githubusercontent.com/sbuckingham/HackOhio22/refs/heads/main/Dorm%20Buildings.csv')
non_dorm = pd.read_csv('https://raw.githubusercontent.com/sbuckingham/HackOhio22/refs/heads/main/Non-Dorm%20Buildings.csv')
weather = pd.read_csv('https://raw.githubusercontent.com/sbuckingham/HackOhio22/refs/heads/main/Weather%20Data.csv')

In [5]:
dorm

,Series Name,Busch House - Occupancy (DEV),Taylor Tower - Occupancy (DEV),Smith-Steeb Hall - Occupancy (DEV),Baker Hall - Occupancy (DEV),"Morrill, Justin S, Tower - Occupancy (DEV)",Busch House - Steam Consumption (kBTU),Busch House - Electricity Consumption (kBTU),Busch House - Chilled Water Consumption (kBTU),Busch House - Hot Water Consumption (kBTU),...,Baker Hall - Chilled Water Consumption (kBTU),Baker Hall - Hot Water Consumption (kBTU),Baker Hall - Total Energy Consumption (Cleaned) (kBTU),Baker Hall - Natural Gas Consumption (kBTU),"Morrill, Justin S, Tower - Steam Consumption (kBTU)","Morrill, Justin S, Tower - Electricity Consumption (kBTU)","Morrill, Justin S, Tower - Chilled Water Consumption (kBTU)","Morrill, Justin S, Tower - Hot Water Consumption (kBTU)","Morrill, Justin S, Tower - Total Energy Consumption (Cleaned) (kBTU)","Morrill, Justin S, Tower - Natural Gas Consumption (kBTU)"
0,2017-01-01T05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,219.059493,NaN,730.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-01T06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,219.144796,NaN,752.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-01T07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,233.520149,NaN,748.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01T08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,233.175523,NaN,705.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01T09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,233.646398,NaN,617.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50510,2022-10-06T19:00:00,958.0,1128.0,2044.0,581.0,2049.0,NaN,339.746942,611.58,114.90,...,147.412645,467.570,1170.283362,NaN,484.17,1713.435242,NaN,NaN,2197.605242,0.000000
50511,2022-10-06T20:00:00,1029.0,1273.0,2169.0,633.0,2140.0,NaN,417.884986,585.06,0.00,...,114.425625,423.350,1111.015089,NaN,495.50,1652.832052,NaN,NaN,2168.855321,20.523269
50512,2022-10-06T21:00:00,1102.0,1413.0,2289.0,676.0,2248.0,NaN,406.317826,544.14,196.88,...,105.127500,315.525,977.833217,NaN,262.16,1608.902861,NaN,NaN,1871.062861,0.000000
50513,2022-10-06T22:00:00,1143.0,1463.0,2408.0,709.0,2353.0,NaN,359.332635,562.05,113.12,...,96.236250,386.385,1026.163231,NaN,196.59,1597.526667,NaN,NaN,1794.116667,0.000000
50514,2022-10-06T23:00:00,1158.0,1472.0,2427.0,739.0,2404.0,NaN,357.626565,550.29,0.00,...,83.248125,331.850,913.963059,NaN,187.74,1616.460613,NaN,NaN,1804.200613,0.000000